.description {
  background-color: rgb(224, 224, 224);
  height: 200px;
  width: 200px;
  /* display: inline-block; */
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid black;
  font-size: 1.7em;
}

.container {
  display: inline-block;
  margin: 30px;
}
